[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/tonykuriakose/TalentHub_user-service.git
[submodule "services/profile-service"]
	path = services/profile-service
	url = https://github.com/tonykuriakose/TalentHub_profile-service.git
